body {
  width: 300px;
  height: 100px;
  background-color: #2c3e50;
}
.loading {
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.ip {
  text-align: center;
}
.ip-field:disabled {
  cursor: default;
  background-color: #fff;
  width: 83%;
  text-align: center;
}
.copy-btn:disabled {
  cursor: default;
}
.hidden-part {
  display: none;
}
.section {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  height: 100%;
}
